.App {
  text-align: center;
}

.option-input {
	border-radius: 12px;
	background-color: #88DDFF;
	padding: 5px;

}

.option-input:focus {
	outline:0;
}

.media-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	justify-content: center;
	width: 95%;
	margin: 15px auto auto auto
}


/**** MEDIA QUERIES ****/







	
